---
pagination:
  data: clients.categories
  size: 1
  alias: item
permalink: "categories/{{ item.key | slug }}/"
layout: default
---
<main class="container mx-auto flex flex-col flex-wrap px-2 pt-12">
  <header class="flex w-full flex-col justify-center overflow-y-hidden lg:items-start xl:w-2/3 pb-4 break-after-auto bg-slate-50 drop-shadow p-4 rounded-md">
    <h1 class="my-4 text-center text-3xl leading-tight text-slate-500 md:text-left md:text-5xl">
      ACME Clients
    </h1>

  </header>

  <div class="text-sm breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">ACME Clients</a></li>
      <li><a href="/">Categories</a></li>
      <li>{{ item.key }}</li>
    </ul>
  </div>

  {% include 'client-list', title:item.description, sectionid:item.key, list:clients.list , category: item.key %}
  
</main>
